<div class="wrapper">
  <header class="header">
    <h2>Demo NgRx</h2>
  </header>
  <!-- count how many item we have -->
  <aside class="aside aside-2">
    <app-counter
      [receiveFilterUsersNumber]="receiveFilterUsersNumber"
    ></app-counter>
  </aside>
  <article class="main">
    <app-filter (messageEvent)="receiveFilterUserNumber($event)"></app-filter>

    <!-- show list -->
    <app-list
      [receiveFilterUsers]="receiveFilterUsers"
      (editUserToTopLevel)="receiveEdit($event)"
    >
    </app-list>
  </article>

  <!-- show how many item we checked -->
  <aside class="aside aside-1">
    <app-summary [editUser]="editUser"></app-summary>
  </aside>

  <!-- show 'all checked' if all checked -->
  <!-- <footer class="footer"><app-footer></app-footer></footer> -->
</div>
